div.mobile-theme {
	float: left;
	margin: 10px;
	width: 320px;
	
	h3 {
		margin-bottom: 0.2em;
	}
	
	p {
		margin-top: 0;
	}
}

div.choiceButton {
	width: 80%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	background: rgb(221, 219, 219);
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	
	&.selected {
		background: #F68C1D;
		
		&:hover {
			background: #F68C1D;
		}
	}
	
	&:hover {
		background: #FCBF70;
	}
}

