div.mobile-theme {
  float: left;
  margin: 10px;
  width: 320px;
}
div.mobile-theme h3 {
  margin-bottom: 0.2em;
}
div.mobile-theme p {
  margin-top: 0;
}
div.choiceButton {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  background: #dddbdb;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
div.choiceButton.selected {
  background: #F68C1D;
}
div.choiceButton.selected:hover {
  background: #F68C1D;
}
div.choiceButton:hover {
  background: #FCBF70;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
